:root {
  --formColor: #ff4242;
}

* {
  margin: 0%;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  color: aliceblue;
}

body {
  display: flex;
}
form div {
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

input,
select {
  width: 49%;
  height: 2.5em;
}

.right {
  overflow: hidden;
  position: relative;
  text-align: right;
  flex: 2;
  background-color: #b43954;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.subm {
  width: 100%;
  margin-top: 20px;
  /* background-color: rgb(255, 99, 9); */
  background-color: #ed474a;
  cursor: pointer;
  color: aliceblue;
  transition: 0.5s linear;
}

input,
select,
option {
  outline: none;
  border: none;
  border-radius: 3px;
  margin-bottom: 1rem;
  color: rgb(80, 74, 74);
  padding: 4px 8px;
}

footer {
  margin-top: 2rem;
}

.or {
  display: flex;
  align-items: center;
}

hr {
  flex: auto;
  border: none;
  height: 1px;
  background: rgb(255, 255, 255);
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

a {
  text-decoration: none;
  display: block;
  outline: 2px solid aliceblue;
  text-align: center;
  width: 50%;
  background-color: var(--formColor);
  transition: 0.4s ease-in-out;
}

.subm:hover {
  outline: 2px solid white;
  box-shadow: 0px 0px 10px 8px rgb(250, 113, 33);
  transform: scale(0.9);
  transition: 0.5s ease;
}

a:hover {
  background-color: white;
  color: var(--formColor);
  transform: scale(1.05);
  transition: 0.9s ease-in-out;
}

.toph1 {
  margin-top: 1rem;
  font-size: 30px;
  margin-right: 5%;
}

.intro {
  font-size: 1.8rem;
  margin-top: 0%;
  padding: 0px 2rem;
  animation: fade 20s ease-in infinite;
  display: block;
  position: relative;
  top: 35%;
  margin-bottom: 10%;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pic {
  margin: 4%;
  height: 110px;
  width: 110px;
  background-color: none;
  border: 1px solid var(--formColor);
  border-radius: 50%;
  /* background-image: url(pictures/logo.avif); */
  background-size: cover;
  z-index: 33fi;
  background-blend-mode: multiply;
  border: 3px solid white;
}

.header {
  border: none;
  margin-top: 0%;
  margin-bottom: 70px;
  border-bottom: 1px solid white;
  background-blend-mode: multiply;
  position: absolute;
  top: 0%;
  box-shadow: 0px 6px 6px rgba(247, 226, 226, 0.566);
  width: 100%;
}

.fot-right {
  position: absolute;
  color: white;
  bottom: 0%;
  background-blend-mode: multiply;
  height: 3rem;
  width: 100%;
  border-top: 1px solid white;
  box-shadow: 0px 0px 14px 2px rgba(255, 252, 252, 0.952);
}

@media (max-width: 700px) {
  .right {
    display: none;
  }
}

form {
  flex: 1.1;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: rgb(255, 66, 66); */
  background-color: #b43954;
  padding: 0px 3rem 3rem 3rem;
  background-blend-mode: multiply;
}

.input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#go {
  margin: 0.5% 0 1% 0;
}

#img {
  width: 100%;
  display: none;
}

label {
  display: block;
  padding: 6px;
  font-size: 10px;
  cursor: pointer;
}

.pic {
  display: flex;
  justify-content: center;
  background-color: none;
}
